.grid-template-area {
    display: grid;
    grid-template-areas: 
    "travelgram technews pagina-de-receita"
    "zingen refund pagina-de-turismo";
    gap: 24px;
}

.device {
    background-color: yellow;
    border-radius: 5px;
}